/* #changename{
    margin: 10px 0px 5px 0px;
    border: 0px;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    text-align: center;
    color: solid black;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
}
#submitbtn{
    margin: 10px 0px 5px 0px;
    border: 0px;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    text-align: center;
    color: solid black;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
}
#changepassword{
    margin: 10px 0px 5px 0px;
    border: 0px;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    text-align: center;
    color: solid black;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
}
#confirmpassword{
    margin: 10px 0px 5px 0px;
    border: 0px;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    text-align: center;
    color: solid black;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
} */